<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.ums.mapper.MenuMapper">

    <select id="findUserPermissions" resultType="menu">
        select distinct m.perms
        from t_role r
                 left join t_user_role ur on (r.rid = ur.rid)
                 left join t_user u on (u.uid = ur.uid)
                 left join t_role_menu rm on (rm.rid = r.rid)
                 left join t_menu m on (m.mid = rm.mid)
        where u.username = #{userName}
          and m.perms is not null
          and m.perms &lt;&gt; ''
    </select>

    <select id="findUserMenus" resultType="menu">
        select m.*
        from t_menu m
        where m.type &lt;&gt; 1
          and m.mid in
              (select distinct rm.mid
               from t_role_menu rm
                        left join t_role r on (rm.rid = r.rid)
                        left join t_user_role ur on (ur.rid = r.rid)
                        left join t_user u on (u.uid = ur.uid)
               where u.username = #{userName})
        order by m.order_num
    </select>
</mapper>