<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第三方登录失败</title>
</head>
<style>
    span {
        font-size: .9rem;
        font-weight: bold;
        color: #42b983;
    }
</style>
<body>
    <span>[[${error}]]</span>
</body>
</html>