<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.oms.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.oms.entity.Product">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="approve_id" property="approveId" />
        <result column="batch_id" property="batchId" />
        <result column="price" property="price" />
        <result column="space" property="space" />
        <result column="supplier_id" property="supplierId" />
        <result column="unit" property="unit" />
        <result column="standard" property="standard" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id, product_name, approve_id, batch_id, price, space, supplier_id, unit, standard, create_time, modify_time, delete_status
    </sql>

</mapper>
