<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.oms.mapper.SaleRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.oms.entity.SaleRefund">
        <id column="refund_id" property="refundId" />
        <result column="sale_order_master_id" property="saleOrderMasterId" />
        <result column="refund_channel" property="refundChannel" />
        <result column="total_amount" property="totalAmount" />
        <result column="refund_date" property="refundDate" />
        <result column="reason" property="reason" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        refund_id, sale_order_master_id, refund_channel, total_amount, refund_date, reason, create_time, modify_time, delete_status
    </sql>

</mapper>
