<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.fms.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.fms.entity.Bill">
        <id column="bill_id" property="billId" />
        <result column="type" property="type" />
        <result column="deal_num" property="dealNum" />
        <result column="accountId" property="accountId" />
        <result column="total_amount" property="totalAmount" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bill_id, type, deal_num, accountId, total_amount, create_time, modify_time, delete_status
    </sql>


</mapper>
