<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.pms.mapper.MaterielRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.pms.entity.MaterielRefund">
        <id column="refund_id" property="refundId" />
        <result column="purchase_order_master_id" property="purchaseOrderMasterId" />
        <result column="refund_channel" property="refundChannel" />
        <result column="total_amount" property="totalAmount" />
        <result column="status" property="status" />
        <result column="reason" property="reason" />
        <result column="return_date" property="returnDate" />
        <result column="finished_time" property="finishedTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        refund_id, purchase_order_master_id, refund_channel, total_amount, status, reason, return_date, finished_time, create_time, modify_time, delete_status
    </sql>

</mapper>
