<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.pms.mapper.MaterielMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.pms.entity.Materiel">
        <id column="materiel_id" property="materielId" />
        <result column="materiel_name" property="materielName" />
        <result column="img" property="img" />
        <result column="unit" property="unit" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        materiel_id, materiel_name, img, unit, create_time, modify_time, delete_status
    </sql>

</mapper>
