<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcmoke.auth.mapper.UserConnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcmoke.auth.entity.UserConnection">
        <id column="username" property="username" />
        <result column="provider_name" property="providerName" />
        <result column="provider_user_id" property="providerUserId" />
        <result column="provider_username" property="providerUsername" />
        <result column="nick_name" property="nickName" />
        <result column="image_url" property="imageUrl" />
        <result column="location" property="location" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        username, provider_name, provider_user_id, provider_username, nick_name, image_url, location, remark
    </sql>

</mapper>
